.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 24px;
    /*40 px from top and bottom and 24px from left and right*/

}

.app__searchform {
    margin-top: 18px;
}

.app__input {
    padding: 6px 16px;
    min-width: 200px;
    max-width: 100vw
}